body {
  padding-top: 10px;
}

.container {
  border-radius: 4px;
  margin: auto;
  width: min(95vw, 700px);
}

.little-container {
  width: 40%;
  margin: auto;
}

figcaption {
  text-align: center;
  margin: 3px auto;
}

td {
  text-align: center;
}

.formulario-jogo {
  display: flex;
}

.formulario-imagem {
  margin-right: 16px;
}

.buttons {
  margin-top: 16px;
}

.input-box {
  width: 700px;
}

.inputs-jogo {
  width: 100%;
  margin-left: 1em;
  margin-bottom: 1em;
}
