{% extends "template.html" %} {% block conteudo %}
<form
  method="post"
  action="{{ url_for('atualizar') }}"
  enctype="multipart/form-data"
  class="d-flex flex-column flex-md-row column-gap-4"
>
  <figure class="img-thumbnail col-8 col-md-4 mx-auto d-block">
    <img src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}" alt="" class="img-fluid" />
    <figcaption class="my-2 my-md-3">
      <label for="capa" class="btn btn-primary">Mudar capa</label>
      <input type="file" name="imagem" id="capa" accept=".jpg,.png" class="d-none" />
    </figcaption>
  </figure>
  <fieldset class="d-flex flex-column gap-3 col-md-8">
    {{ form.csrf_token() }}
    <input type="hidden" name="id" value="{{ id }}" />
    <div class="form-group">{{ form.nome.label(class="form-label") }} {{ form.nome(class="form-control") }}</div>
    <div class="form-group">
      {{ form.categoria.label(class="form-label") }} {{ form.categoria(class="form-control") }}
    </div>
    <div class="form-group">{{ form.console.label(class="form-label") }} {{ form.console(class="form-control") }}</div>
    <div class="d-flex gap-3">
      {{ form.salvar(class="btn btn-primary btn-salvar") }}
      <a class="btn btn-outline-danger" href="{{ url_for('index') }}">Voltar</a>
    </div>
  </fieldset>
</form>
{% endblock %}
